<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link href="~/Content/css/Style_index.css" rel="stylesheet" />
</head>
<body>
    <div id="topwrapper">
        <div id="top">
            <div id="logo">
                <img src="~/Content/img/20171219.png" width="210" height="46" alt="模仿游戏" />
            </div>
            <div id="menu">
                <ul id="menuul" >
                    <li class="menuli">
                        <span>首页</span>
                    </li>
                    <li class="menuli">
                        <span>产品</span>
                    </li>
                    <li class="menuli">
                        <span>安全</span>
                    </li>
                    <li class="menuli">
                        <span>联系我们</span>
                    </li>
                    <li class="menuli">
                        <span class="login">
                            <a id="loginin"  href = "@Url.Action("Login","Login")">登陆</a>
                        </span>
                    </li>
                    <li class="menuli">
                        <span class="login">
                            <a id="register">注册</a>
                        </span>
                    </li>
                </ul>
            </div>            
        </div>
        </div>
</body>
</html>
